<app-hamberger-menu></app-hamberger-menu>

<br />
<br />
<br />
<p-toast [showTransitionOptions]="'4ms'"></p-toast>
<p-card
  header=""
  [style]="{
    width: '90%',
    'font-size': '20px',
    'text-align': 'center',
    color: 'green',
    'margin-left': '5.5%',
    'margin-right': '5.5%'
  }"
>
  <div class="ui-g">
    <h2 style="font-weight:bold;color: rgb(22, 92, 124);text-align: left ">
      Doctors
    </h2>
    <!-- <hr style="background-color:rgb(22, 92, 124); height:3px;" /> -->
    <!-- </div> -->
  </div>
  <p-table
    #data
    [columns]="cols"
    [value]="doctorTableData"
    selectionMode="single"
    [(selection)]="selectedDoctor"
    (onRowSelect)="onRowSelect($event)"
    [paginator]="true"
    [rows]="15"
  >
    <ng-template pTemplate="caption">
      <div class="ui-g-12">
        <h3 style="font-weight:bold;color: rgb(22, 92, 124);">
          LIST OF DOCTORS
        </h3>
        <hr style="background-color:rgb(22, 92, 124);height:3px;" />
      </div>
      <div style="text-align: right">
        <i style="margin:4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="Filter Here"
          (input)="data.filterGlobal($event.target.value, 'contains')"
          style="width:30%;height: 35px;"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button
          type="button"
          pButton
          (click)="showDialogToAdd()"
          label="Add"
        ></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    header="Doctors"
    [(visible)]="displayDialog"
    [responsive]="true"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '540px' }"
  >
    <div class="ui-g ui-fluid" *ngIf="car">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label style="font-weight: bold;">Doctors Description &nbsp;</label>
        </div>
        <div class="ui-g-8">
          <input
            style="height: 35px;width: 100%"
            pInputText
            id="vin"
            name="doctorDescription"
            [(ngModel)]="doctorObj.doctorDescription"
          />
        </div>
      </div>
      <div class="ui-g-12">
            <div class="ui-g-4">
              <label style="font-weight: bold;">Specialist Obj&nbsp;</label>
            </div>
            <div class="ui-g-8">
              <p-dropdown
                [style]="{'height': '35px'}"
                [options]="specialistDropdownData"
                id="year"
                name="speacialist"
                placeholder="Select speciality"
                pInputText
                [(ngModel)]="doctorObj.specialist"
                style="width: 100%"
                [filter]="true"
              ></p-dropdown>
            </div>
          </div>
          <div class="ui-g-12">
                <div class="ui-g-4">
                  <label style="font-weight: bold;">Personal Details Obj &nbsp;</label>
                </div>
                <div class="ui-g-8">
                        <p-dropdown
                        [style]="{'height': '35px'}"
                        [options]="personalDetailsDropdownData"
                        id="year"
                        name="PersonalDetails"
                        placeholder="Select Name"
                        pInputText
                        [(ngModel)]="doctorObj.personalDetails"
                        style="width: 100%"
                        [filter]="true"
                      ></p-dropdown>
                </div>
              </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button
          type="button"
          pButton
          (click)="deleteDoctors()"
          label="Delete"
        ></button>
        <button
          type="button"
          pButton
          (click)="saveDoctors()"
          label="Save"
        ></button>
      </div>
    </p-footer>
  </p-dialog>
</p-card>
